<div class="container-fluid">

    <br>
    <div class="table__row" *ngIf="isReadPrivilegedModule">
        <mat-card class="table__card">
            <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
            <mat-card-header class="table__header">
                <!-- <mat-card-title>Card Title </mat-card-title> -->
                <!-- <mat-card-subtitle>Card Sub Title</mat-card-subtitle> -->
                <mat-form-field appearance="standard">
                    <mat-label>Filter Web Tracing</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </mat-card-header>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="traced_details_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row" data-label="id">{{row.traced_details_id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="sql_details">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>SQL Details</th>
                        <td mat-cell *matCellDef="let row" data-label="sql details">{{row.sql_details}}</td>
                    </ng-container>
                    <ng-container matColumnDef="company_trade_license_details">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Traced Details</th>
                        <td mat-cell *matCellDef="let row" data-label="company trade details">{{row.company_trade_license_details}}</td>
                    </ng-container>
                    <ng-container matColumnDef="additional_details">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Additional Details</th>
                        <td mat-cell *matCellDef="let row" data-label="additonal details">{{row.additional_details}}</td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="mol_company_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MOL Company Name</th>
                        <td mat-cell *matCellDef="let row">{{row.mol_company_name}}</td>
                    </ng-container> -->
                    <!-- <ng-container matColumnDef="mol_salary">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MOL Salary</th>
                        <td mat-cell *matCellDef="let row">More</td>
                    </ng-container> -->
                    <ng-container matColumnDef="expand">
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button aria-label="expand row"
                                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                                <mat-icon *ngIf="expandedElement != element">keyboard_arrow_down</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                            <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="example-element-description">
                                    <!-- Created Salary in MOL Check as <strong> {{element.mol_salary}}</strong><br> -->
                                    Created at <strong>
                                        {{element.created_dtm | date:'dd-MMM-yyyy'}}</strong><br>
                                    <!-- Modified By <strong> {{element.modified_by_full_name}}</strong> at <strong>
                                        {{element.modified_dtm | date :"short"}}</strong> -->
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                        class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No trace found</td>
                    </tr>
                </table>
                <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of logs"
                    showFirstLastButtons></mat-paginator>
            </div>
        </mat-card>
    </div>
</div>