<div class="container-fluid">
    <br>
    <div class="btn_row">
        <div class="col-sm" *ngIf="isCreatePrivilegedModule && !isTeamLeadOrAgent">
            <button mat-raised-button class="tktBtn" (click)="raiseTktDialog()">
                <span class="material-symbols-outlined">
                    confirmation_number
                </span>Assign New Target</button>
        </div>
    </div>
    <br>
    <div class="row table__row">
        <mat-card class="table__card">
            <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
            <mat-card-header class="table__header">
                <mat-card-title>{{tableTxt}}</mat-card-title>
                <mat-form-field appearance="standard">
                    <mat-label>Filter Targets</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </mat-card-header>
            <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="target_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-target_id">Id </th>
                        <td mat-cell *matCellDef="let row; let i=index" (click)="viewTicket(row)"
                            data-label="Target Id" class="mat-column-target_id"> {{row.target_id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="created_by_full_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Created By">
                            {{row.created_by_full_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="target_assigned_by_full_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned By</th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Target Assigned By">
                            <ng-container *ngIf="isUserDeactivated(row.target_assigned_by_full_name || row.admin_full_name)">
                                <mat-icon color="warn" class="warn-deactivated" matTooltip="User got deactivated/deleted from platform">warning</mat-icon>
                            </ng-container>
                            {{row.target_assigned_by_full_name ? row.target_assigned_by_full_name : row.admin_full_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="senior_manager_full_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Senior Manager </th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Senior Manager">
                            <span class="center-flex">
                                {{row.senior_manager_full_name || ''}}
                                <ng-container *ngIf="isUserDeactivated(row.senior_manager_full_name)">
                                    <mat-icon color="warn" class="deactivated-user-icon" matTooltip="User got deactivated/deleted from platform">warning</mat-icon>
                                </ng-container>
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="team_manager_full_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Manager </th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Team Manager">
                            <span class="center-flex">
                                {{row.team_manager_full_name || ''}}
                                <ng-container *ngIf="isUserDeactivated(row.team_manager_full_name)">
                                    <mat-icon color="warn" class="deactivated-user-icon" matTooltip="User got deactivated/deleted from platform">warning</mat-icon>
                                </ng-container>
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="team_lead_full_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Lead </th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Team Lead">
                            <span class="center-flex">
                                {{row.team_lead_full_name || ''}}
                                <ng-container *ngIf="isUserDeactivated(row.team_lead_full_name)">
                                    <mat-icon color="warn" class="deactivated-user-icon" matTooltip="User got deactivated/deleted from platform">warning</mat-icon>
                                </ng-container>
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="agent_full_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent </th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Agent">
                            <span class="center-flex">
                                {{row.agent_full_name || ''}}
                                <ng-container *ngIf="isUserDeactivated(row.agent_full_name)">
                                    <mat-icon color="warn" class="deactivated-user-icon" matTooltip="User got deactivated/deleted from platform">warning</mat-icon>
                                </ng-container>
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="target_amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-target_amount"> Target Amount </th>
                        <td mat-cell *matCellDef="let row" (click)="viewTicket(row)" data-label="Target Amount" class="mat-column-target_amount">
                            {{row.target_amount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="achieved_target">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-achieved_target"> Achieved Target </th>
                        <td mat-cell *matCellDef="let row" data-label="Achieved Target" class="mat-column-achieved_target">
                            {{row.achieved_target}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-actions">Actions</th>
                        <td mat-cell *matCellDef="let row" class="mat-column-actions">
                            <div *ngIf="!isTeamLeadOrAgent">
                                <button mat-icon-button color="warn" (click)="deleteTarget(row)" matTooltip="Delete Target">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="company_desc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Description </th>
                        <td mat-cell *matCellDef="let row"> {{row.company_desc}} </td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="more">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button aria-label="Actions" #tooltip="matTooltip"
                                matTooltip="View more details" matTooltipPosition="below"
                                routerLink="/client-management/view/{{row.company_id}}">
                                <span class="material-symbols-outlined">
                                    chevron_right
                                </span>
                            </button>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedClientHoldersColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedClientHoldersColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8">No Assigned Target(s) Found</td>
                    </tr>
                </table>
                <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of banks"
                    showFirstLastButtons></mat-paginator>
            </div>
        </mat-card>
    </div>
</div>