.__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    ;
}

.table__row {
    padding: 0 11px;
}


table {
    width: 100%;
    box-shadow: none;

}

.mat-form-field {
    font-size: 14px;
    /* width: 100%; */
    float: inline-end;
}

.bankInp {
    width: 100%;
}

td,
th {
    width: 25%;
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

th {
    background-color: #fafafa;
}

.table__card {
    border: 1px solid #E5E7EB;
    border-radius: 8px;

}

.mat-elevation-z8 {
    box-shadow: none;
}

.table__header {
    display: flex;
    flex-direction: row;
}

mat-card-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

mat-card-title {
    padding: 0;

}

.mat-card-header-text {
    margin: 0 !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: 1px;
    width: auto;
}

.acc-button {
    background: transparent;
    border: none;
    font-size: 20px;
    float: right;

}

.up {
    transform: rotate(180deg);
    outline: none;
}

.down {
    transform: rotate(0deg);
    outline: none;
}

.panelTitle {
    display: flex;
    align-items: center;
    width: 100%;
}

.panelTitle span {
    flex-grow: 1;
    margin: 0;
}

.acc-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5em;
}

.panelContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 12px;
    outline: none;
}

mat-form-field {
    display: block;

}

.advSerachBtn {
    float: right;

    margin: 10px;
}

.msg td {
    text-align: center;
}

.scroll-container {
    height: 1000px;
    /* Adjust as needed */
    /* overflow-y: auto; */
}


.status-red {
    color: #DC2626;
}

.status-green {
    color: #22C55E;
}

.status-blue {
    color: #1D4ED8;
}

.status-pink {
    color: #fd00e8;
}

.status-yellow {
    color: #EAB308;
}

tr:hover {
    cursor: pointer;
    background: #fafafa;
    text-align: center;
}

.status-red-blink {
    animation: blink 1s infinite;
    color: red;
    /* or any other style you prefer */
}

.status-warn-blink {
    color: #ffd000;
    animation: blink 5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.filter_row {
    padding: 0 10px;
}

@media screen and (max-width:960px) {
    .panelContent {
        grid-template-columns: repeat(1, 1fr);
    }

    mat-form-field {
        font-size: 5px;
    }

    .__lDtls {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (max-width:428px) {
    .container-fluid {
        overflow-x: hidden;
    }

    .mat-card-header .mat-card-title {
        font-size: 18px;
    }

    .__btns {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        margin-top: 7%;
        flex-direction: column;
    }

    /* Mat-Table Responsive CSS */
    .mat-table .mat-row {
        /* border-bottom: 5px solid #ddd; */
        /* display: block; */
    }

    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
    }

    .mat-header-row {
        display: none;
    }

    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 0.85em;
    }

    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding: 0;
    }

    .table__header {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}