.mat_form_fields {
    width: 100%;
}

._rows {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:428px) {
    ._rows {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }
    
}