::ng-deep .mat-dialog-content.__tasks {
    max-height: 300px;
    /* Adjust the height as needed */
    overflow-y: auto;
    padding-right: 16px;
    /* Ensure proper padding for scrollbar */
}

::ng-deep .mat-dialog-content.__notes {
    max-height: 200px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* padding-right: 16px; */
    /* Ensure proper padding for scrollbar */
}

.mat_form_fields {
    width: 100%;
}
.required-field {
    color: red;
}

.btn_row {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin: 15px 0;
}

/* Style for disabled resolved date field */
.mat-form-field.mat-form-field-disabled {
    opacity: 0.6;
}

.mat-form-field.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.38);
}