.action_btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 0 2%;
}

.card_row {
    margin: 0 2% 0 0;
}

.accordion_row {
    margin: 1% 2% 0 0;
}

.accordion {
    padding: 0;
}

.example-full-width {
    width: 100%;
}

td,
th {
    width: 25%;
    font-family: var(--font-regular);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #fafafa;
}

#td{
    text-align: left;

}

.mat-form-field {
    /* font-size: 14px; */
    width: 100%;
    /* float: inline-end; */
}

.profile__image {
    width: 100%;
    height: 50%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.__inp_fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.companyName {
    margin: 0 1rem 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.companyName span {
    border-radius: 10px;
    background-color: rgb(186, 181, 181);
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    font-size: 12px;
    /* flex: 1 1 auto; */
    text-align: center;
}

.client-container{
    display: inline;
}

@media screen and (max-width:960px) {

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 0 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    td,
    th {
        /* width: 25%; */
        font-family: var(--font-regular);
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .__basic_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* padding: 10px; */
    }

    .__inp_fields {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .tbl__class {
        width: 100%;
        overflow-x: auto;
    }

}

@media screen and (max-width:428px) {

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 0 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    td,
    th {
        width: 25%;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .__basic_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* padding: 10px; */
    }

    .__inp_fields {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .col-10 {
        flex: 0 0 auto;
        width: 100%;
    }

    /* .mat-accordion>.mat-expansion-panel-spacing:last-child,
    .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
        width: 100%;
        margin-bottom: 0;
        overflow-x: auto;
    } */
    .tbl__class {
        width: 100%;
        overflow-x: auto;
    }
}

.reporting-to-wrapper {
  position: relative;
  flex: 1;
  min-width: 0;
}



/* Hide checkboxes in mat-select dropdown */
::ng-deep .mat-select-panel .mat-option .mat-pseudo-checkbox {
  display: none !important;
}

::ng-deep .mat-select-panel .mat-option .mat-pseudo-checkbox-container {
  display: none !important;
}