/* mat-toolbar-styling */
.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 2%;
    /* background: #111827; */
    /* background: #381500; */
    background: var(--header-bg);
    color: var(--header-bg-text);
    border-bottom: 1 px solid #e2e2e2;
    box-shadow: 0px 1px 4px 1px #00000026;
}

.example-spacer {
    flex: 1 1 auto;
}

.logo {
    width: 50px;
}

.__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.__profile img {
    width: 50px;

}

.__title,
.__subtitle {
    margin: 0;
}

.mat-card-header .mat-card-title {
    margin-bottom: 0;

}


.notification-button{
    margin-right: 10px;
    cursor: pointer;
}