.example-full-width {
    width: 100%;
}

.col-sm button {
    background-color: var(--button-color-bg);
    color: var(--button-color-text);
    float: inline-end;
}



@media screen and (max-width: 428px) {
    .table-responsive {
        display: flex;
        flex-direction: column;
    }

    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        border: 1px solid #ccc;
        margin: 10px 0;
        background: white;
        border-radius: 5px;
    }

    .table-responsive td {
        border: none;
        /* border-bottom: 1px solid #eee; */
        position: relative;
        /* padding-left: 50%; */
        text-align: right;
    }

    .table-responsive td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /* .table-responsive td:nth-of-type(1):before {
        content: "Parameters";
    }

    .table-responsive td:nth-of-type(2):before {
        content: "Scoring 1";
    }

    .table-responsive td:nth-of-type(3):before {
        content: "Scoring 2";
    }

    .table-responsive td:nth-of-type(4):before {
        content: "Scoring 3";
    }

    .table-responsive td:nth-of-type(5):before {
        content: "Scoring 1 Status";
    }

    .table-responsive td:nth-of-type(6):before {
        content: "Scoring 2 Status";
    }

    .table-responsive td:nth-of-type(7):before {
        content: "Scoring 3 Status";
    } */
}