._row {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btnGen {
    background-color: var(--button-color-bg);
    color: var(--button-color-text);
    min-width: 120px;
}

table {
    width: 100%;
    box-shadow: none;

}
.table__header {
    display: flex;
    flex-direction: row;
}

mat-card-header {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* text-align: left; */
}

mat-card-title {
    padding: 0;

}

.mat-card-header-text {
    margin: 0 !important;
}


th.mat-header-cell:first-of-type {
    padding: 0;
}
td,
th {
    width: 25%;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
td.mat-cell:first-of-type {
    padding: 0;
}

/* th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: auto;
} */

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    /* padding: 0; */
    border-bottom-width: 1px;
    /* border-bottom-style: solid; */
    width: auto;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;

}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
    padding-right: .5rem;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.filter-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-fields mat-form-field {
    width: 100%;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
}

.filter-buttons button {
    flex: 1;
    margin: 0 0.5em;
}

th {
    background-color: #fafafa;
}


.mat-card {
    width: 100%;
}

.table__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table__card {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.mat-form-field {
    width: 100%;
}

.example-element-row {
    cursor: pointer;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.example-element-description {
    padding: 16px;
}

.mat-elevation-z8 {
    box-shadow: none;
    /* width:100% */
}
.noDataFound {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
@media screen and (max-width:428px) {

    /* Mat-Table Responsive CSS */
    /* .table__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .mat-elevation-z8 {
        background: transparent;
        box-shadow: none;
    }

    .mat-header-row {
        display: none;
    }

    tbody {
        display: block;
        width: 100%;
    }

    .mat-table {
        background: transparent;
    }

    .mat-table * {
        box-sizing: border-box;
    }

    .mat-row {
        display: block;
        overflow: hidden;
        height: auto;
        position: relative;
        border-radius: 3px;
        border: 1px solid #E5E7EB;
    }

    .mat-row+.mat-row {
        margin-top: 24px;
    }

    .mat-cell {
        display: block;
        width: 100%;
        padding: 0 16px;
        margin: 16px 0;
        border: 0 none;
    }

    .mat-cell:first-child {
        padding: 0 48px 0 16px;
    }

    .mat-cell:first-child a {
        font-size: 20px;
    }

    .mat-cell:first-child:before {
        display: none;
    }

    .mat-cell.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0, 0, 0, 0.54);
    }

    .has_label_on_mobile:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
    }

    .mat-column-star {
        width: auto;
        padding: 8px 0 0 !important;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .mat-column-star:before {
        display: none;
    }

    .mat-paginator {
        margin-top: 24px;
    } */

    .mat-table {
        border: 0;
        vertical-align: middle;
    }

    .mat-table caption {
        font-size: 1em;
    }

    /* Enable this to hide header */
    /* .mat-table .mat-header-cell {
        
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      } */

    /*
      .mat-table .mat-row:nth-child(even) {background: #CCC}
      .mat-table .mat-row:nth-child(odd) {background: #FFF}
      */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
    }

    .mat-header-row {
        display: none;
    }

    .mat-table .mat-cell:before {

        /* * aria-label has no advantage, it won't be read inside a table */
        /* content: attr(aria-label); */

        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;

        font-size: 0.85em;
    }

    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

    ._row {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .col-2 {
        width: 100%;
    }

    .table__header {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}